

$navbarHeight: 120px;
$white: #f9f7f7;

.NavbarBackground{
    position:fixed;
    width:100%;
    z-index:11;
    top:-$navbarHeight;
    background-color: white;
    height:$navbarHeight;
    transition:all 0.5s;
}

.NavbarBackground-visible{
    top:0;
}

.Navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index:12;
    width:80%;
    height:$navbarHeight;
    background-color:transparent;
    left: 50%;
    transform: translate(-50%, 0); 

    border-bottom:1px solid rgb(169, 169, 169);
    & .message_btn{
        padding:15px;
        border-radius: 0.5em;
    }
    
}

.Navbar.white{
    color:white;
    & > .message_btn{
        border: 1px solid $white;
    }
}

.Navbar.black{
    color:black;
    & > .message_btn{
        border: 1px solid black;
    }
}