.Enseignement2 {
  display: flex;
  margin-bottom: 40px;
  & > .text {
    grid-area: 3/4/7/11;
    z-index: 2;
    background-color: white;
    padding: 15px;
  }
  & > .imageContainer {
    width: 200px;
    height: 200px;
  }
}
