.Home1 {
  padding-top: 128px;
  transition: all 0.7s;
  & > div {
    width: 632px;
  }
  & > .textAnimation {
    margin: 0 auto;
    & h2 {
      // font-size: 3.5rem;
      // text-align: center;
      // margin-bottom:30px;
      // display: flex;
      & p {
      }
    }
  }

  & > .text {
    margin: 0 auto;
  }
}

@media (max-width: 700px) {
  .Home1 {
    & > div {
      width: 90%;
    }
  }
}
