
.Home2{
    height: 900px;
    display: grid;
    grid-template: 40% 10% 10% 30% 10%/15% 20% 10% 45% 10%;
    max-width: 90rem;
    margin: 0 auto;
    padding-top:128px;

    &:nth-child(1), &:nth-child(2){
        & img{
            height:100%;
            object-fit: cover;
        }
    }
    & .bigImage{
        grid-area: 1/1/3/5;
    }
    & .tinyImage{
        width: 100%;
        grid-area: 4/2/5/3;
        
    }

    & .text{
        display: flex;
        flex-direction: column;
        align-items: center;
        grid-area: 2/4/6/6;
        background: white;
        width: 100%;
        &>div {
            width:80%;
        }
        &__title{
            font-size: 3.5rem;
            margin:35px auto;
        }
        
    }
}