.ContactPage {
  & .content {
    display:flex;
    & .sectionContact {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 90%;
      max-width: 900px;
      margin: 0 auto;
      padding-bottom: 128px;
      & .adress{
        
        
        &__details{
            & p{
                margin-bottom: 10px;
            }
        }
      }
    }
    & .logo{
        color:black
    }
    & .socials{
        margin-top: 10px;
        display:flex;
        justify-content: space-around;
    }
  }
}
